*{ /* resete basico */ 
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
} 

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
/*font-family: 'Google Sans Flex';*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
/*font-family: 'Cinzel'; */


/*tela 1 nav*/

#antonia{
    margin: 80px;
    margin-left: 140px;
    height: 450px;
}

header{ 
    background-color: #f1a1ba;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between ;

    font-family: 'Google Sans Flex';
}

#h1-header{
    font-size: 15px;

    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 20px;

    height: 35px ;
    background-color:#cf6080 ;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

nav{
    margin-top: 30px;
    margin-right: 40px;
    font-size: 20px; 
}

nav a{
    width: 100% ;
    height: 35px ;
    background-color:#88bce0 ;
    border-radius: 10px;
    padding: 10px;
    color: white;
    gap: 20px;
    text-decoration: none;
    margin-left: 10px;
}

nav :hover{ 
    background-color: #55a1c4;
}
nav :active{
    background-color: #4290c9;
}

#cor-diferente-nav-inicio{
    background-color: #cf6080 ;
}

#cor-diferente-nav-inicio :hover{
    background-color: #f39cb4;
}

#cor-diferente-nav-inicio :active{
    background-color: #f39cb4;
}



/*tela 1 foto e frase*/

#antonia-maria-container{ 
    display: flex;

    font-family: 'Cinzel';
}

.nome-antonia{ 
    text-align: center;
    margin-top: 230px;
    margin-left: 120px;
    margin-right: 50px;
    font-size: 50px;
    color: #f1a1ba;
}

.frase-antonia{
    color: #88bce0;
}

.foto-antonia{
    text-align: right;
}

/*caixas tela 2 e 3*/

#sessao-conteudo{
    border-radius: 10px;
    color: white;
    padding: 30px;
    text-align: center;
}


/*tela 2 historia*/
.card-historia{
    margin-top: 300px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #cf6080;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.448);
}

#historia :hover{
   transform: scaleY(-20px);
}


/*tela 3 depoimento*/
.card-depoimento{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 150px;
    background-color:#88bce0 ;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.448);
}


.titulo-card{
    font-size: 50px;
    padding: 25px;
}

.conteudo-card{
    padding: 45px;
    font-size: 20px;
}

.historia :hover{
    background-color: #4290c9;
    transform: translateY(20px);
    border-radius: 10px;
}

.depoimento :hover{
    background-color: #d36383;
    transform: translateY(20px);
    border-radius: 10px;
}

/* cards valores */


.sessao-valores-um{
    background-color: white;
    padding: 60px 20px;
    font-family: 'Cinzel'; 
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.sessao-valores-dois{
    background-color: white;
    padding: 60px 20px;
    font-family: 'Cinzel'; 
    margin-top: 150px;
    max-width: 1000px;
    gap: 25px;
}

.direcao-um{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    gap: 20px;
}

.direcao-um :hover{
    background-color: #88bce0;
    color: white;
    transform: translateY(-15px);
}

.direcao-dois :hover{
    background-color: #88bce0;
    color: white;
    transform: translateY(-15px);
}

.valor-card-um{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    justify-content: center;
    background-color: #cf6080;
    color: white;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600px;
    font-size: 16px;
    line-height: 1.4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.448);
    width: 100%;
    max-width: 340px;
}


.valor-card-dois{
    min-height: 180px;
    background-color: #cf6080;
    color: white;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    font-weight: 600px;
    font-size: 16px;
    line-height: 1.4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.448);
    width: 100%;
    max-width: 340px;
}

.direcao-dois{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.valor-card-um img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    object-fit: contain;
}
.valor-card-dois img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    object-fit: contain;
}

.valor-card-um p{ 
    margin: 0;
    font-size: 14px;
}

.valor-card-dois p{ 
    margin: 0;
    font-size: 14px;
}


@media (max-width:768px) {
    .linha-de-baixo{
        flex-direction: column;
        align-items: center;
    }
}


/* sessao de curiosidades*/

#body-curiosidades{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.curiosidades {
    width: 700px;
    text-align: center;
}

.curiosidades h1 {
    color: #7fa8d6;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 5px;
}

.curiosidades h2 {
    color: #d36383;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 35px;
}

.card {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
}

.texto {
    flex: 1;
    border-radius: 18px;
    padding: 25px;
}

.azul .texto {
    background-color: #cfe2f7;
}

.rosa .texto {
    background-color: #F1A1BA;
}

.texto h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.h3-azul{
    color: #5a8fe3;
}

.h3-rosa{
    color: #d36383;
}

.p-rosa{
    color: #d36383;
}

.p-azul{
    color: #4290c9;
}

.texto p {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
}

@media (max-width: 768px) {

    #body-curiosidades{
        padding: 20px 15px;
    }

    .curiosidades{
        width: 240px;
    }

    .curiosidades h1{
        font-size: 28px;
    }

    .curiosidades h2{
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .card{
        flex-direction: column;
        gap: 8px;
        margin-bottom: 18px;
    }

    .card img{
        width: 80px;
        height: 80px;
    }

    .texto{
        width: 240px;
        padding: 20px;
    }

    .texto h3{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .texto p{
        font-size: 11px;
    }
}

@media (max-width: 480px) {

    .curiosidades h1{
        font-size: 30px;
    }

    .curiosidades h2{
        font-size: 16px;
        padding: 0 10px;
    }

    .card{
        gap: 10px;
        margin-bottom: 25px;
    }

    .card img{
        width: 95px;
        height: 95px;
        border-radius: 12px;
    }

    .texto{
        padding: 16px;
        border-radius: 14px;
    }

    .texto h3{
        font-size: 24px;
        margin-bottom: 8px;
    }

    .texto p{
        font-size: 13px;
        line-height: 1.3;
    }
}


/*RODAPE ANTONIA MARIA*/

#rodape-container{
    background-color: #f1a1ba;
    color: white;
    padding: 25px;
    text-decoration: none;

    margin-top: 50px;
}


.card-ancora{
    display: flex;
    flex-direction: column;
}
